<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars Bookstore</title>

</head>
<body>
    <header>
        <div class="header-content">
            <h1>Star Wars Bookstore</h1>
            <nav>
                <ul>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/favorites">Favorites</a></li>
                    <li><a href="/basket">Basket</a></li>
                    <li><a href="/users">Users</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="hero">
            <h2>Welcome to the New Galaxy</h2>
            
        </section>
       
        <!-- <section>
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Star_Wars_Logo.svg" alt="..." style="margin-left: 380px;">
        </section> -->

    </main>
   
</body>
</html>




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Star Wars</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/products">Products</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/baskets">Baskets</a></li>
            <li><a href="/favorites">Favorites</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Welcome to the new Galaxy</h1>
    </div>
</body>
</html> -->
